/* Layout */
#app {
  height: var(--vh, 100vh);
  display: flex;
  flex-direction: column;
}

#chat-layout {
  display: flex;
  height: var(--vh, 100vh);
  overflow: hidden;
}

#chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}
